<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Embedded Javascript page</title>
</head>
<body>
    <h1>First Embedded Javascript page <%= 5+9  %>   </h1>
    <p><%="hello everyone".toUpperCase()  %>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut ullam nihil cum consequuntur cupiditate culpa repellendus nemo assumenda optio nostrum quasi provident debitis non quaerat harum, ducimus animi sint velit.
    Ab ducimus, quae fugiat laudantium vel deserunt qui. Id aliquid fuga, minima voluptatum rerum quo quod eligendi similique sint ipsam ab perspiciatis tempora distinctio sit, aperiam nobis laboriosam, eaque dolore.</p>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis, corrupti quia minima sequi similique architecto atque quasi nisi impedit aperiam totam autem beatae, earum ad est voluptatibus, tempore quod pariatur?
    Exercitationem natus in impedit. Optio magni quod obcaecati laboriosam officia sunt distinctio dolor fugit consectetur labore, mollitia tempora animi, porro, minima nesciunt ab omnis repellendus libero quos eius voluptatum aperiam.
    Suscipit sunt expedita amet corporis tempora cumque iure tenetur quisquam deserunt, quos enim at quod quis harum. Deserunt enim odit consequuntur cupiditate nam ratione at fugit, sit quia ipsa reprehenderit?
    Laborum dignissimos ducimus, rerum perspiciatis labore nam harum laboriosam repudiandae quasi soluta. Enim numquam accusamus placeat aspernatur molestiae, aperiam error itaque soluta nihil unde facilis rerum harum exercitationem ea illum.</p>

</body>
</html>